/*
Theme Name: Harrison Mills Custom Theme
Author: Yosuke Hasumi
Author URI: http://yosuke.ca
*/

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.alignleft{display:inline;float:left;margin-right:1.625em;}
.alignright{display:inline;float:right;margin-left:1.625em;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
.left{float:left;}
.right{float:right;}
i,em{font-style:italic;}
strong,b{font-weight:bold;}
section ul,section ol{margin-left:30px;}
section ul li{list-style:disc;}
section ol li{list-style:decimal;}
.clear{float:left;width:100%;clear:both;}
hr{background:black;height:1px;border:0;width:100%;float:left;clear:both;}
blockquote{padding-left:30px;padding-right:30px;}
//---------------------------------------------------------------	MIXINS
$grey: #858585;
$yellow: #fee7b7;
$cream: #fcf6e7;
$nav-main: #4f554d;
$black: #171717;
$border-bottom: #0a0017;
$green: #5e7e3e;
//---------------------------------------------------------------	SCRIPT
@font-face {
  font-family: 'QumpellkaNo12';
  src: url('fonts/QumpellkaNo12.eot'); /* IE9 Compat Modes */
  src: url('fonts/QumpellkaNo12.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/QumpellkaNo12.woff') format('woff'), /* Modern Browsers */
       url('fonts/QumpellkaNo12.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/QumpellkaNo12.svg#094022e6158f85a26d4b157a89968374') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

//---------------------------------------------------------------	SANS SERIF Quattrocento
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/QuattrocentoSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/QuattrocentoSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('fonts/QuattrocentoSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/QuattrocentoSans-BoldItalic.svg#dd308c4db81bd15105601fc99b8e02d6') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/QuattrocentoSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/QuattrocentoSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/QuattrocentoSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/QuattrocentoSans-Bold.svg#d7e149862d64733ee22af1986cdff1f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/QuattrocentoSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/QuattrocentoSans-Italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/QuattrocentoSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/QuattrocentoSans-Italic.svg#192ebac22e0125eb851941140ad4237c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/QuattrocentoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/QuattrocentoSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/QuattrocentoSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/QuattrocentoSans-Regular.svg#5d1c5c0bbfd71bf708bafeb228fe5ced') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
//---------------------------------------------------------------	 SERIF Quattrocento
@font-face {
  font-family: 'Quattrocento';
  src: url('fonts/Quattrocento-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Quattrocento-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Quattrocento-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Quattrocento-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Quattrocento-Bold.svg#ded59c78f607937a292d07a92e24f7e5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('fonts/Quattrocento-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Quattrocento-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Quattrocento-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Quattrocento-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Quattrocento-Regular.svg#95522dfbe1ab474aa11b2db0a68174f9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

//---------------------------------------------------------------	GENERAL
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	color: $grey;
	font-style:   normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
a {
	color: $grey;
	text-decoration: none;
}
h1, h2, h3, h4 {
	clear: both;
}
h1 {
	font-family: 'Quattrocento';
	font-weight: 700;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 18px;
}
h2 {
	font-family: 'Quattrocento';
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 12px;
}
h3 {
	font-family: 'Quattrocento';
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 12px;
}
h4 {
	font-family: 'Quattrocento';
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
}
p {
	margin-bottom: 26px;
}
blockquote {
	font-family: 'QumpellkaNo12', serif;
	font-weight: 400;
	font-size: 30px;
	padding: 0;
}
.page-width {
	width: 960px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}
.border-bottom {
	border-bottom: 18px solid $border-bottom;
}
.border-top {
	border-top: 18px solid $border-bottom;
}
.sprite {
	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.texture {
	background-image: url('images/texture.png');
	background-repeat: repeat;
}
table.drive-time {
	th {
		text-align: left;
		font-family: 'Quattrocento';
		font-weight: 700;
		font-size: 18px;
	}
	.column1 {
		width: 150px;
	}
	small {
		font-size: 10px;
	}
}
hr {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	border: 0;
	height: 1px;
	background-color: $grey;
	margin: 40px 0;
}
.ssba_sharecount {
	display: none !important;
}
.mobile-visible {
	display: none;
}
//---------------------------------------------------------------	HEADER
.searchform {
	margin-top: 20px;
	float: right;
	background: $cream;
	.border {
		display: inline;					
		border-right: 1px solid black;
	}
	input {
		display: inline-block;
		background: transparent;
		border: 0;
		line-height: 20px;
		padding: 0;
		margin: 0;
		&:focus {
			outline: none;
		}
		&[type=text]{
			padding: 0 5px;
			font-size: 14px;
		}
		&[type=submit]{
			cursor: pointer;
			background: transparent url("images/sprite.png") no-repeat 4px -260px;
			text-indent: -9999em;
			width: 27px;
		}
	}
	&.mobile-visible {
		background: black;
		color: white;
		margin-top: 10px;
		input {
			line-height: 30px;
			color: white;
			&[type=submit]{
				background: transparent url("images/sprite.png") no-repeat 4px -287px;
			}
		}
	}
}

header.main {
	width: 100%;
	height: 180px;
	box-shadow: 0px 0px 10px $grey;
	position: relative;
	z-index: 100;
	.top {
		height: 130px;
		background: black url('images/texture.png') repeat;
		border-bottom: 10px solid black;
		.left {
			padding-top: 24px;
			width: 440px;
			a {
				background-position: 0 0;
				width: 196px;
				height: 65px;
				text-indent: -9999em;
				float: left;
				margin-top: 4px;
				display: inline-block;
			}
			div {
				font-family: 'QumpellkaNo12', serif;
				font-size: 30px;
				line-height: 30px;
				color: $yellow;
				float: left;
				border-left: 1px solid $yellow;
				margin-left: 27px;
				padding: 7px 0 0 26px;
				height: 74px;
				display: inline-block;
			}
		}
		.right {
			.menu-secondary-container {
				ul {
					li {
						float: left;
						margin: 8px 0 0 25px;
						a {
							color: $yellow;
							font-size: 14px;
							text-decoration: none;
						}
					}
				}
			}
		}
		
	}
	.bottom {
		height: 50px;
		background: $cream;
		#mobile-nav-trigger {
			display: none;
		}
		nav {
			ul {
				li {
					float: left;
					//width: 14.285%;
					//text-align: center;
					&:first-child a { padding-left: 0; }
					&:last-child a { padding-right: 0; }
					a {
						line-height: 50px;
						display: block;
						padding: 0 40px;
						color: $nav-main;
						text-decoration: none;
						text-transform: uppercase;
					}
					&.current-menu-item a, &.current-page-ancestor a {
						text-decoration: underline;
						font-weight: 700;
					}
					a:hover {
						text-shadow: 1px 1px 0 #999;
					}
				}
			}
		}
	}
}
//--------------------------------------------------------------- NEWSLETTER SIGNUP



#mc_embed_signup {
	.mc-field-group {
		input {
			border: 1px solid #dddddd;
			line-height: 2em;
		}
		.asterisk {
			position: static;
		}
	}
	.asterisk {
		line-height: 1;
	}
	br {
		display: none;
	}
 	#mc-embedded-subscribe:before {
 		content: '';
 		width: 30px;
 		height: 30px;
 		background: red;
 		display: block;
 	}
}
//---------------------------------------------------------------	BODY
#body{
	padding-bottom: 330px;
	background: url('images/bee.jpg') no-repeat bottom right;
	#body-header {
		.banner-image {
			width: 100%;
			height: 204px;
			background-position: center center;
			background-repeat: no-repeat;			
			background-size: cover;
		}
	}
	#page-header {
		margin-top: 20px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	#sidebar {
		width: 220px;
		float: left;
		padding: 50px 0 150px;
		ul {
			margin: 0;
			li {
				list-style: none;
				text-transform: uppercase;
				font-size: 15px;
				&.current_page_item>a, &.current-menu-item>a, a:hover {
					color: $green;
					text-decoration: underline;
				}
				.subnav {
					margin-left: 15px;
					a {
						font-size: 13px;
					}
				}
			}
		}
		#twnhead {
			margin-top: 60px;
		}
	}
	#content {
		width: 700px;
		float: right;
		padding: 50px 0 360px;
		img {
			max-width: 100%;
			height: auto;
		}
		a {
			text-decoration: underline;
			&:hover {
				color: $green;
			}
		}
		.breadcrumbs {
			font-family: 'Quattrocento', serif;
			font-weight: 700;
			font-size: 15px;
			margin: 20px 0;
		}
		.amenities-grid {
			.two-column {
				width: 50%;
				float: left;
				margin-bottom: 10px;
				img {
					float: left;
				}
				span {
					float: left;
					line-height: 45px;
					text-transform: uppercase;
					text-indent: 10px;
					font-size: 13px;
				}
			}
		}
	}
}
//---------------------------------------------------------------	POST
#body #content .post {
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid $grey;
	margin-bottom: 30px;
	padding-bottom: 30px;
	&:last-child {
		border: 0;
	}
	
	&.concession {
		img + h1 {
			margin-top: 12px;
		}
		.left {
			font-size: 15px;
		}	
	}
	&.accomodation {
		.left {
			width: 220px;
			.amenities-grid {
				img {
					margin: 0 20px 10px 0;
					&.last {
						margin-right: 0;
					}
				}
			}
		}
		.right {
			width: 460px;
			.left>img {
				margin-bottom: 12px;
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			
		}
	}
	
}
//---------------------------------------------------------------	FRONTPAGE
body.home {

	#body {
		background-image: none;
		padding-bottom: 0;
		#body-header {
			padding-bottom: 28px;
			.cycle-slideshow {
				margin-bottom: 40px;
			}
			.page-width {
				.left {
					width: 540px;
					font-size: 18px;
					p {
						margin-bottom: 24px;
					}
				}
				.events-roll {
					width: 325px;
					h3 {
						margin-top: 16px;
						border-bottom: 1px solid $grey;
						padding-bottom: 4px;
						margin-bottom: 0;
					}
					ol li {
						width: 100%;
						float: left;
						clear: both;
						padding: 20px 0;
						border-bottom: 1px solid $grey;
						margin: 0;
						.entry-title {
							font-family: 'Quattrocento';
							font-weight: 700;
							font-size: 22px;
							line-height: 22px;
							text-align: left;
							a:hover {
								color: $green;
							}
						}
						.duration {
							text-align: left;
							font-weight: normal;
						}
					}
					.tribe-events-widget-link {
						text-align: center;
						float: left;
						clear: both;
						width: 100%;
						margin-top: 20px;
						font-family: 'Quattrocento';
						font-weight: 400;
						font-size: 14px;
						line-height: 14px;
					}
					//.event, ol li {
					//	width: 100%;
					//	float: left;
					//	clear: both;
					//	height: 115px;
					//	border-bottom: 1px solid $grey;
					//	margin: 0;
					//	.date, .duration {
					//		width: 60px;
					//		float: left;
					//		text-align: center;
					//		padding-top: 25px;
					//		.day {
					//			border-bottom: 1px solid $grey;
					//			padding-bottom: 2px;
					//			margin-bottom: 1px;
					//		}
					//		.month {
					//			font-family: 'Quattrocento';
					//			font-weight: 700;
					//		}
					//	}
					//	.title, .entry-title {
					//		float: right;
					//		width: 250px;
					//		padding-top: 40px;
					//		clear: none;
					//		font-family: 'Quattrocento';
					//		font-weight: 700;
					//		font-size: 22px;
					//		line-height: 22px;
					//		margin-bottom: 12px;
					//	}
					//}
					//h4 {
					//	text-align: center;
					//	float: left;
					//	clear: both;
					//	width: 100%;
					//	margin-top: 20px;
					//}
				}
			}
		}
		
		.newsletter-signup {
			background: black;
			padding: 30px 0;
			.signup-logo {
				background-position: 0 -320px;
				width: 313px;
				height: 60px;
				text-indent: -9999em;
				float: left;
			}
			form {
				float: right;
				margin-top: 12px;
				input {
					display: inline-block;
					line-height: 30px;
					border: 0;
					padding: 0 5px;
					margin: 0 5px;
					&.input {
						width: 200px;
					}
					&.submit {
						background: #5e7e3e url("images/sprite.png") no-repeat -29px -261px;
						cursor: pointer;
						text-indent: -9999em;
						width: 30px;
						height: 100%;
					}
				}
			}
		}

		.map {
			.page-width {
				position: relative;
				line-height: 0;
				.left {
					line-height: 26px;
					position: absolute;
					top: 0;
					right: 10px;
					height: 300px;
					width: 300px;
					margin-top: 40px;
					padding: 28px;
					color: white;
					background: rgba(0,0,0,0.73);
					a {
						color: white;
					}
					h3 {
						line-height: 24px;
					}
				}
			}
		}
		.image-feed {
			padding: 20px 0;
			.page-width {
				h2 {
					margin: 25px 0 4px;
				}
				p {
					font-size: 13px;
				}
				small {
					font-size: 12px;
					padding: 20px 0;
					display: block;
					line-height: 18px;
				}
			}
			.instagram-feed {
				background: white;
				padding: 12px 0;
			}
		}
	}
	
}
//---------------------------------------------------------------	THINGS TO DO SECTION
section.things-to-do {
	background: url('images/spot.jpg') no-repeat right bottom;
	.inner {
		width: 100%;
		height: 100%;
		padding: 25px 0 45px;
		background: url('images/texture.png') repeat;
		h2 {
			margin-bottom: 16px;
		}
		.four-column {
			float: left;
			width: 220px;
			margin-right: 20px;
			background: #fee8b8 url('images/texture.png') repeat;
			img {
				float: left;
				clear: both;
				width: 100%;
				height: auto;
			}
			.text {
				float: left;
				clear: both;
				width: 100%;
				padding: 15px;
				&.green {
					background-color: #c5c9a9;
				}
				h3 {
					margin-bottom: 5px;
				}
				ul {
					margin: 0 0 0 4px;
					li {
						list-style: none;
						line-height: 16px;
						padding: 5px 0;
						font-size: 14px; 
						a:hover {
							color: lighten($green, 10%);
						}
					}
				}
			}
			&:last-child {
				margin: 0 !important;
			}
		}
	}
}
//--------------------------------------------------------------- EVENT STYLES
.events-list #sidebar li.upcoming a {
	
}
//---------------------------------------------------------------	FOOTER
footer {
	background: $black;
	padding-top: 34px;
	.column-seven {
		width: 14.285%;
		float: left;
		ul {
			li {
				line-height: 14px;
				padding: 4px 0;
				a {
					font-size: 14px;
				}
			}
		}
	}
	.column-seven.social {
		ul {
			li {
				padding: 0;
				a {
					display: inline-block;
					margin-bottom: 3px;
					line-height: 26px;
					span {
						display: inline-block;
					}
					div {
						background-image: url('images/sprite.png');
						background-repeat: no-repeat;
						display: inline-block;
						float: left;
						width: 26px;
						height: 26px;
						margin-right: 8px;
					}
					&.twitter { 
						div { background-position: 0px -80px; }
						&:hover div { background-position: -30px -80px; }
					}
					&.facebook { 
						div { background-position: -0px -110px; }
						&:hover div { background-position: -30px -110px; }
					}
					&.instagram { 
						div { background-position: -0px -140px; }
						&:hover div { background-position: -30px -140px; }
					}
					&.tripadvisor { 
						div { background-position: -0px -170px; }
						&:hover div { background-position: -30px -170px; }
					}
					&.google { 
						div { background-position: -0px -200px; }
						&:hover div { background-position: -30px -200px; }
					}
					&.youtube { 
						div { background-position: -0px -230px; }
						&:hover div { background-position: -30px -230px; }
					}
				}
			}
		}
		
		
	}
	.tripadvisor-credit {
		float: left;
		clear: left;
		.top {
			font-size: 14px;
			padding-top: 6px;
			span {
				float: left;
				margin-top: 5px;
			}
			.sprite {
				width: 186px;
				height: 30px;
				margin-left: 18px;
				background-position: -60px -80px;
			}
		}
		.bottom {
			font-size: 12px;
			line-height: 12px;
			a {
				text-decoration: underline;
			}
		}
	}
	.cc-credit {
		float: right;
		margin-top: 71px;
		a {
			float: left;
			text-indent: -9999em;
		}
		.tourism-hhs {
			width: 104px;
			height: 84px;
			background-position: -60px -140px;
		}
		.tourism-tbc {
			width: 250px;
			height: 85px;
			background-position: -60px -230px;
			margin-left: 26px;
		}
	}
	.final-credit {
		font-size: 12px;
		width: 100%;
		float: left;
		clear: both;
		margin: 24px 0;
	}
}
//---------------------------------------------------------------	INSTAGRAM
/* Image Feeds */
.si_feed{max-width:100%;}
ul.si_feed_list{margin:0;padding:0;}
div.si_item{float: left;
width: 12.5%;
padding: 4px;
line-height: 0;}
div.si_item img{width:100%;height:auto;}
li.si_item{float:left;list-style:none;margin:0;padding:0;}
.si_feed:before,
.si_feed:after{content:" ";/* 1 */
display:table;/* 2 */}
.si_feed:after{clear:both;}
.si_feed{*zoom:1;}
/* Themed Profile */
.si_profile{clear:both;}
.themed .si_profile_picture{float:left;width:25%;}
.themed .si_profile_picture img{max-width:100%;}
.themed .si_username{float:right;width:70%;font-size:1.25em;color:#3f729b;font-weight:bold;}
.themed .si_full_name{float:right;width:70%;font-size:.9em;font-style:italic;}
.themed .si_bio{float:right;width:70%;font-size:0.9em;margin:1em auto;}
.themed .si_website{float:right;width:70%;}
.themed .si_website a{font-size:0.9em;color:#3f729b;}
/* Widgets */
.si_feed_widget .si_item{width:33%;float:left;margin:0;padding:0;}
.si_feed_widget .si_item img{max-width:100%;}
.si_feed_list{overflow:hidden;}
/* Themed Profile Widget */
.si_profile_widget{clear:both;}
.si_profile_widget .si_profile_picture{float:left;width:25%;}
.si_profile_widget .si_profile_picture img{max-width:100%;}
.si_profile_widget .si_username{float:right;width:70%;font-size:1.25em;color:#3f729b;font-weight:bold;}
.si_profile_widget .si_full_name{float:right;width:70%;font-size:.9em;font-style:italic;}
.si_profile_widget .si_bio{float:right;width:70%;font-size:0.9em;margin:1em auto;}
.si_profile_widget .si_website{float:right;width:70%;}
.si_profile_widget .si_website a{font-size:0.9em;color:#3f729b;}
//---------------------------------------------------------------	SSB
.ssba {
	clear: both;
	margin-top: 20px;
	float: left;
	width: 100%;
	a {
		img {
			width: 30px;
			height: auto;
			margin-right: 10px;
			float: left;
			clear: none;
		}
	}
}
a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
a.ssba_tooptip strong{line-height:12px;}
a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
.callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}
//--------------------------------------------------------------- CYCLE2
.cycle-slideshow {
	img {
		display: none;
		position: absolute;
		top: 0;
		max-width: 100%;
		height: auto;
	}
	.cycle-pager {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 28px;
		z-index: 150;
		span {
			cursor: pointer;
			background: #FFFFFF;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 6px;
			text-indent: -9999em;
			border-radius: 8px;
			box-shadow: inset 0px 0px 5px #80833B;
			&.cycle-pager-active {
				background: #80833B;
				box-shadow: inset 0px 0px 5px #555;
			}
		}
	}
}
//---------------------------------------------------------------	COLORBOX
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:relative; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/colorbox/overlay.png) repeat 0 0;}
#colorbox{outline:0;margin-bottom:12px;}
    #cboxTopLeft{width:21px; height:21px; background:url(images/colorbox/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/colorbox/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/colorbox/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/colorbox/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(images/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/colorbox/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
//---------------------------------------------------------------	MEDIA QUERIES
@media all and (max-width: 1200px) {
  body.home #body #body-header #slider-wrapper,
	body.home #body section.map iframe { width: 100%; }
	body.home #body .map { text-align:left;}
	body.home #body .map img {position: relative;
	left: 50%;
	margin-left: -600px;}
}
@media all and (max-width: 960px) {
	iframe{width:100%;}
	.page-width{width:100%;}
	header.main .top .left div{margin-left:15px;padding-left:15px;font-size:22px;}
	header.main .bottom nav ul li:last-child a{padding-top:2px;}
	body.home #body #body-header .page-width .left{width:60%;}
	body.home #body #body-header .page-width .right{width:38%;}
	body.home #body #body-header .page-width .events-roll .event .date{width:20%;}
	body.home #body #body-header .page-width .events-roll .event .title{width:78%;}
	
	#body section.things-to-do .inner .four-column{width:23.5%;margin-right:2%;}
	#body section.things-to-do .inner .four-column .text{padding: 10px;}

	#body #content{width:68%;}
	#body #sidebar{width:30%;}
	#body #content .post.accomodation .left { width: 100%;}
	#body #content .post.accomodation .right { width: 100%;}
	#body #content .post.accomodation .right .left{ width: 100%;}
	#body #content .post.accomodation .left .amenities-grid img { margin: 0 10px 10px 0 !important;}
	footer .column-seven{width:25%;margin-bottom:20px;}
	footer .cc-credit{float:left;margin:10px;}
	footer .tripadvisor-credit{margin:10px;}
	.pgmm .canvas{width:100% !important;}
}
@media all and (max-width: 880px){
	header.main .bottom nav ul li a{line-height:24px;display:block;height:50px;padding-top:12px;}
}
@media all and (max-width: 768px){
	body.home #body .things-to-do .inner .four-column {
		width: 23.66%;
		&:last-child {
			margin-right: 0;
		}
	}
	header.main {
		//height: auto;
		.bottom {
			//height: auto;
			ul#menu-primary {
				text-align: center;
				li {
					float: none; 
					display: inline;
					a {
						display: inline;
						padding: 0 12px;
						line-height: 50px;
					}
				}
			}
		}
	}
	
}
@media all and (max-width: 720px){
	.mobile-visible {
		display: block;
	}
	.mobile-hidden {
		display: none;
	}
	header.main {
		position: relative;
		z-index: 400;
	}
	header.main .top .left {
		a {
			background-size: 960px 960px;
			width: 98px;
			height: 33px;
		}
		div {
			font-size: 16px;
			line-height: 18px;
			height: 40px;
			padding-top: 0;
		}	
	} 
	header.main .top .right {
		width: 100%;
		nav ul#menu-secondary {
			padding-top: 10px;
			text-align: center;
			li {
				display: inline-block;
				float: none;
				margin: 0;
				a {
					line-height: 40px;
					padding: 0 5px;
				}
			}
		}
	} 
	header .bottom .page-width {
		overflow: visible;
		#mobile-nav-trigger {
			display: block;
			float: left;
			height: 50px;
			>div {
				display: inline-block;
				width: 40px;
				height: 8px;
				background: black;
				box-shadow: 0 12px 0 0 black, 0 24px 0 0 black;
				text-indent: -9999em;
				
			}
			
		}
		nav.menu-primary-container {
			position: relative;
			width: 100%;
			top: 17px;
			&:hover {
				ul {
					display: block;
				}
			}
			ul#menu-primary  {
				width: 100%;
				position: absolute;
				top: 33px;
				z-index: 500;
				display: none;
				background: black url("images/texture.png") repeat;
				border: 10px solid black; 
				li {
					display: block;
					text-align: left;
					a {
						color: $cream;
						font-size: 24px;
					}
				}
			}
		}
	}
	body.home #body #body-header .page-width .left,
	body.home #body #body-header .page-width .right
	{ width: 100%; }
	body.home #body .things-to-do .inner .four-column,
	body.home #body .things-to-do .inner .four-column.last {
		width: 48%;
		margin: 1%;
	}
	body.home #body .map .texture .page-width .left {
		width: 98%;
		height: 92%;
		float: none;
		margin: 2% auto;
	}
	div.si_item { width: 25%;}
	footer .column-seven {
	width: 50%;
	}
	footer .cc-credit .tourism-hhs,
	footer .cc-credit .tourism-tbc {
		margin: 10px;
	}
	#body #sidebar {
	width: 100%;
	padding: 20px 10px;
	background: $black;
	
	a {
		color: white;
	} 
	}
	#body #content {width: 100%;
	padding: 20px 0;}
	#body #content .left,
	#body #content .right {
		width: 100%;
	}
}