/*
Theme Name: 
Author: Yosuke Hasumi
Author URI: http://yosuke.ca
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

section ul, section ol {
  margin-left: 30px; }

section ul li {
  list-style: disc; }

section ol li {
  list-style: decimal; }

.clear {
  float: left;
  width: 100%;
  clear: both; }

hr {
  background: black;
  height: 1px;
  border: 0;
  width: 100%;
  float: left;
  clear: both; }

blockquote {
  padding-left: 30px;
  padding-right: 30px; }

@font-face {
  font-family: 'QumpellkaNo12';
  src: url("fonts/QumpellkaNo12.eot");
  /* IE9 Compat Modes */
  src: url("fonts/QumpellkaNo12.eot?#iefix") format("embedded-opentype"), url("fonts/QumpellkaNo12.woff") format("woff"), url("fonts/QumpellkaNo12.ttf") format("truetype"), url("fonts/QumpellkaNo12.svg#094022e6158f85a26d4b157a89968374") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("fonts/QuattrocentoSans-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/QuattrocentoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/QuattrocentoSans-BoldItalic.woff") format("woff"), url("fonts/QuattrocentoSans-BoldItalic.ttf") format("truetype"), url("fonts/QuattrocentoSans-BoldItalic.svg#dd308c4db81bd15105601fc99b8e02d6") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("fonts/QuattrocentoSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/QuattrocentoSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/QuattrocentoSans-Bold.woff") format("woff"), url("fonts/QuattrocentoSans-Bold.ttf") format("truetype"), url("fonts/QuattrocentoSans-Bold.svg#d7e149862d64733ee22af1986cdff1f0") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("fonts/QuattrocentoSans-Italic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/QuattrocentoSans-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/QuattrocentoSans-Italic.woff") format("woff"), url("fonts/QuattrocentoSans-Italic.ttf") format("truetype"), url("fonts/QuattrocentoSans-Italic.svg#192ebac22e0125eb851941140ad4237c") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("fonts/QuattrocentoSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/QuattrocentoSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/QuattrocentoSans-Regular.woff") format("woff"), url("fonts/QuattrocentoSans-Regular.ttf") format("truetype"), url("fonts/QuattrocentoSans-Regular.svg#5d1c5c0bbfd71bf708bafeb228fe5ced") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Quattrocento';
  src: url("fonts/Quattrocento-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Quattrocento-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Quattrocento-Bold.woff") format("woff"), url("fonts/Quattrocento-Bold.ttf") format("truetype"), url("fonts/Quattrocento-Bold.svg#ded59c78f607937a292d07a92e24f7e5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Quattrocento';
  src: url("fonts/Quattrocento-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Quattrocento-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Quattrocento-Regular.woff") format("woff"), url("fonts/Quattrocento-Regular.ttf") format("truetype"), url("fonts/Quattrocento-Regular.svg#95522dfbe1ab474aa11b2db0a68174f9") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #858585;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

a {
  color: #858585;
  text-decoration: none; }
  a:hover {
    color: #5e7e3e; }

h1, h2, h3, h4 {
  clear: both; }

h1 {
  font-family: 'Quattrocento';
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 18px; }

h2 {
  font-family: 'Quattrocento';
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 12px; }

h3 {
  font-family: 'Quattrocento';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px; }

h4 {
  font-family: 'Quattrocento';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px; }

p {
  margin-bottom: 26px; }

blockquote {
  font-family: 'QumpellkaNo12', serif;
  font-weight: 400;
  font-size: 30px;
  padding: 0; }

.page-width {
  width: 960px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }

.border-bottom {
  border-bottom: 18px solid #0a0017; }

.border-top {
  border-top: 18px solid #0a0017; }

.sprite {
  background-image: url("images/sprite.png");
  background-repeat: no-repeat;
  display: inline-block; }

.texture {
  background-image: url("images/texture.png");
  background-repeat: repeat; }

table.drive-time th {
  text-align: left;
  font-family: 'Quattrocento';
  font-weight: 700;
  font-size: 18px; }
table.drive-time .column1 {
  width: 150px; }
table.drive-time small {
  font-size: 10px; }

hr {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #858585;
  margin: 40px 0; }

.ssba_sharecount {
  display: none !important; }

header.main {
  width: 100%;
  height: 180px;
  box-shadow: 0px 0px 10px #858585;
  position: relative;
  z-index: 100; }
  header.main .top {
    height: 130px;
    background: black url("images/texture.png") repeat;
    border-bottom: 10px solid black; }
    header.main .top .left {
      padding-top: 24px; }
      header.main .top .left a {
        background-position: 0 0;
        width: 196px;
        height: 65px;
        text-indent: -9999em;
        float: left;
        margin-top: 4px; }
      header.main .top .left div {
        font-family: 'QumpellkaNo12', serif;
        font-size: 30px;
        line-height: 30px;
        color: #fee7b7;
        float: left;
        border-left: 1px solid #fee7b7;
        margin-left: 27px;
        padding: 7px 0 0 26px;
        height: 74px; }
    header.main .top .right .menu-secondary-container ul li {
      float: left;
      margin: 8px 0 0 25px; }
      header.main .top .right .menu-secondary-container ul li a {
        color: #fee7b7;
        font-size: 14px;
        text-decoration: none; }
  header.main .bottom {
    height: 50px;
    background: #fcf6e7; }
    header.main .bottom nav ul li {
      float: left; }
      header.main .bottom nav ul li:first-child a {
        padding-left: 0; }
      header.main .bottom nav ul li:last-child a {
        padding-right: 0; }
      header.main .bottom nav ul li a {
        line-height: 50px;
        display: block;
        padding: 0 40px;
        color: #4f554d;
        text-decoration: none;
        text-transform: uppercase; }
      header.main .bottom nav ul li.current-menu-item a, header.main .bottom nav ul li.current-page-ancestor a {
        text-decoration: underline;
        font-weight: 700; }
      header.main .bottom nav ul li a:hover {
        text-shadow: 1px 1px 0 #999; }

#body {
  background: url("images/bee.jpg") no-repeat bottom right; }
  #body #body-header .banner-image {
    width: 100%;
    height: 204px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #body #page-header {
    margin-top: 20px; }
    #body #page-header .pgmm img {
      background-color: transparent;
      max-width: none !important; }
    #body #page-header img {
      max-width: 100%;
      height: auto; }
  #body #sidebar {
    width: 220px;
    float: left;
    padding: 50px 0 150px; }
    #body #sidebar ul {
      margin: 0; }
      #body #sidebar ul li {
        list-style: none;
        text-transform: uppercase;
        font-size: 15px; }
        #body #sidebar ul li.current_page_item > a, #body #sidebar ul li.current-menu-item > a, #body #sidebar ul li a:hover {
          color: #5e7e3e;
          text-decoration: underline; }
        #body #sidebar ul li .subnav {
          margin-left: 15px; }
          #body #sidebar ul li .subnav a {
            font-size: 13px; }
    #body #sidebar #twnhead {
      margin-top: 60px; }
  #body #content {
    width: 700px;
    float: right;
    padding: 50px 0 150px; }
    #body #content a {
      text-decoration: underline; }
      #body #content a:hover {
        color: #5e7e3e; }
    #body #content .breadcrumbs {
      font-family: 'Quattrocento', serif;
      font-weight: 700;
      font-size: 15px;
      margin: 20px 0; }
    #body #content .amenities-grid .two-column {
      width: 50%;
      float: left;
      margin-bottom: 10px; }
      #body #content .amenities-grid .two-column img {
        float: left; }
      #body #content .amenities-grid .two-column span {
        float: left;
        line-height: 45px;
        text-transform: uppercase;
        text-indent: 10px;
        font-size: 13px; }

#body #content .post {
  float: left;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #858585;
  margin-bottom: 30px;
  padding-bottom: 30px; }
  #body #content .post:last-child {
    border: 0; }
  #body #content .post.concession img + h1 {
    margin-top: 12px; }
  #body #content .post.concession .left {
    font-size: 15px; }
  #body #content .post.accomodation .left {
    width: 220px; }
    #body #content .post.accomodation .left .amenities-grid img {
      margin: 0 20px 10px 0; }
      #body #content .post.accomodation .left .amenities-grid img.last {
        margin-right: 0; }
  #body #content .post.accomodation .right {
    width: 460px; }
    #body #content .post.accomodation .right .left > img {
      margin-bottom: 12px; }
    #body #content .post.accomodation .right a {
      text-decoration: none; }
      #body #content .post.accomodation .right a:hover {
        text-decoration: underline; }

body.home #body {
  background-image: none; }
  body.home #body #body-header {
    padding-bottom: 28px; }
    body.home #body #body-header #slider-wrapper {
      width: 1200px;
      margin: 0 auto 40px;
      position: relative; }
    body.home #body #body-header .page-width .left {
      width: 540px;
      font-size: 18px; }
      body.home #body #body-header .page-width .left p {
        margin-bottom: 24px; }
    body.home #body #body-header .page-width .events-roll {
      width: 325px; }
      body.home #body #body-header .page-width .events-roll h3 {
        margin-top: 16px;
        border-bottom: 1px solid #858585;
        padding-bottom: 4px;
        margin-bottom: 0; }
      body.home #body #body-header .page-width .events-roll ol li {
        width: 100%;
        float: left;
        clear: both;
        padding: 20px 0;
        border-bottom: 1px solid #858585;
        margin: 0; }
        body.home #body #body-header .page-width .events-roll ol li .entry-title {
          font-family: 'Quattrocento';
          font-weight: 700;
          font-size: 22px;
          line-height: 22px;
          text-align: left; }
        body.home #body #body-header .page-width .events-roll ol li .duration {
          text-align: left;
          font-weight: normal; }
      body.home #body #body-header .page-width .events-roll .tribe-events-widget-link {
        text-align: center;
        float: left;
        clear: both;
        width: 100%;
        margin-top: 20px;
        font-family: 'Quattrocento';
        font-weight: 400;
        font-size: 14px;
        line-height: 14px; }
  body.home #body .map .page-width {
    position: relative;
    line-height: 0; }
    body.home #body .map .page-width .left {
      line-height: 26px;
      position: absolute;
      top: 0;
      left: 10px;
      height: 300px;
      width: 300px;
      margin-top: 40px;
      padding: 28px;
      color: white;
      background: rgba(0, 0, 0, 0.73); }
      body.home #body .map .page-width .left a {
        color: white; }
      body.home #body .map .page-width .left h3 {
        line-height: 24px; }
  body.home #body .image-feed {
    padding: 20px 0; }
    body.home #body .image-feed .page-width h2 {
      margin: 25px 0 4px; }
    body.home #body .image-feed .page-width p {
      font-size: 13px; }
    body.home #body .image-feed .page-width small {
      font-size: 12px;
      padding: 20px 0;
      display: block;
      line-height: 18px; }
    body.home #body .image-feed .instagram-feed {
      background: white;
      padding: 12px 0; }

section.things-to-do {
  background: url("images/spot.jpg") no-repeat right bottom; }
  section.things-to-do .inner {
    width: 100%;
    height: 100%;
    padding: 25px 0 30px;
    background: url("images/texture.png") repeat; }
    section.things-to-do .inner h2 {
      margin-bottom: 16px; }
    section.things-to-do .inner .four-column {
      float: left;
      width: 220px;
      margin-right: 20px;
      background: #fee8b8 url("images/texture.png") repeat; }
      section.things-to-do .inner .four-column img {
        float: left;
        clear: both;
        width: 100%;
        height: auto; }
      section.things-to-do .inner .four-column .text {
        float: left;
        clear: both;
        width: 100%;
        padding: 15px; }
        section.things-to-do .inner .four-column .text.green {
          background-color: #c5c9a9; }
        section.things-to-do .inner .four-column .text h3 {
          margin-bottom: 5px; }
        section.things-to-do .inner .four-column .text ul {
          margin: 0 0 0 4px; }
          section.things-to-do .inner .four-column .text ul li {
            list-style: none;
            line-height: 16px;
            padding: 5px 0;
            font-size: 14px; }
            section.things-to-do .inner .four-column .text ul li a:hover {
              color: #78a04f; }
      section.things-to-do .inner .four-column:last-child {
        margin: 0; }

footer {
  background: #171717;
  padding-top: 34px; }
  footer .column-seven {
    width: 14.285%;
    float: left; }
    footer .column-seven ul li {
      line-height: 14px;
      padding: 4px 0; }
      footer .column-seven ul li a {
        font-size: 14px; }
  footer .column-seven.social ul li {
    padding: 0; }
    footer .column-seven.social ul li a {
      display: inline-block;
      margin-bottom: 3px;
      line-height: 26px; }
      footer .column-seven.social ul li a span {
        display: inline-block; }
      footer .column-seven.social ul li a div {
        background-image: url("images/sprite.png");
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        width: 26px;
        height: 26px;
        margin-right: 8px; }
      footer .column-seven.social ul li a.twitter div {
        background-position: 0px -80px; }
      footer .column-seven.social ul li a.twitter:hover div {
        background-position: -30px -80px; }
      footer .column-seven.social ul li a.facebook div {
        background-position: -0px -110px; }
      footer .column-seven.social ul li a.facebook:hover div {
        background-position: -30px -110px; }
      footer .column-seven.social ul li a.instagram div {
        background-position: -0px -140px; }
      footer .column-seven.social ul li a.instagram:hover div {
        background-position: -30px -140px; }
      footer .column-seven.social ul li a.tripadvisor div {
        background-position: -0px -170px; }
      footer .column-seven.social ul li a.tripadvisor:hover div {
        background-position: -30px -170px; }
      footer .column-seven.social ul li a.google div {
        background-position: -0px -200px; }
      footer .column-seven.social ul li a.google:hover div {
        background-position: -30px -200px; }
      footer .column-seven.social ul li a.youtube div {
        background-position: -0px -230px; }
      footer .column-seven.social ul li a.youtube:hover div {
        background-position: -30px -230px; }
  footer .tripadvisor-credit {
    float: left;
    clear: left; }
    footer .tripadvisor-credit .top {
      font-size: 14px;
      padding-top: 6px; }
      footer .tripadvisor-credit .top span {
        float: left;
        margin-top: 5px; }
      footer .tripadvisor-credit .top .sprite {
        width: 186px;
        height: 30px;
        margin-left: 18px;
        background-position: -60px -80px; }
    footer .tripadvisor-credit .bottom {
      font-size: 12px;
      line-height: 12px; }
      footer .tripadvisor-credit .bottom a {
        text-decoration: underline; }
  footer .cc-credit {
    float: right;
    margin-top: 71px; }
    footer .cc-credit a {
      float: left;
      text-indent: -9999em; }
    footer .cc-credit .tourism-hhs {
      width: 104px;
      height: 84px;
      background-position: -60px -140px; }
    footer .cc-credit .tourism-tbc {
      width: 250px;
      height: 85px;
      background-position: -60px -230px;
      margin-left: 26px; }
  footer .final-credit {
    font-size: 12px;
    width: 100%;
    float: left;
    clear: both;
    margin: 24px 0; }

body.page-map #page-header {
  position: relative;
  line-height: 0; }
  body.page-map #page-header .right {
    line-height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 300px;
    margin-top: 40px;
    padding: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.73); }
    body.page-map #page-header .right a {
      color: white; }
    body.page-map #page-header .right h3 {
      line-height: 24px; }

/* Image Feeds */
.si_feed {
  max-width: 100%; }

ul.si_feed_list {
  margin: 0;
  padding: 0; }

div.si_item {
  float: left;
  width: 12.5%;
  padding: 4px;
  line-height: 0; }

div.si_item img {
  width: 100%;
  height: auto; }

li.si_item {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.si_feed:before,
.si_feed:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.si_feed:after {
  clear: both; }

.si_feed {
  *zoom: 1; }

/* Themed Profile */
.si_profile {
  clear: both; }

.themed .si_profile_picture {
  float: left;
  width: 25%; }

.themed .si_profile_picture img {
  max-width: 100%; }

.themed .si_username {
  float: right;
  width: 70%;
  font-size: 1.25em;
  color: #3f729b;
  font-weight: bold; }

.themed .si_full_name {
  float: right;
  width: 70%;
  font-size: .9em;
  font-style: italic; }

.themed .si_bio {
  float: right;
  width: 70%;
  font-size: 0.9em;
  margin: 1em auto; }

.themed .si_website {
  float: right;
  width: 70%; }

.themed .si_website a {
  font-size: 0.9em;
  color: #3f729b; }

/* Widgets */
.si_feed_widget .si_item {
  width: 33%;
  float: left;
  margin: 0;
  padding: 0; }

.si_feed_widget .si_item img {
  max-width: 100%; }

.si_feed_list {
  overflow: hidden; }

/* Themed Profile Widget */
.si_profile_widget {
  clear: both; }

.si_profile_widget .si_profile_picture {
  float: left;
  width: 25%; }

.si_profile_widget .si_profile_picture img {
  max-width: 100%; }

.si_profile_widget .si_username {
  float: right;
  width: 70%;
  font-size: 1.25em;
  color: #3f729b;
  font-weight: bold; }

.si_profile_widget .si_full_name {
  float: right;
  width: 70%;
  font-size: .9em;
  font-style: italic; }

.si_profile_widget .si_bio {
  float: right;
  width: 70%;
  font-size: 0.9em;
  margin: 1em auto; }

.si_profile_widget .si_website {
  float: right;
  width: 70%; }

.si_profile_widget .si_website a {
  font-size: 0.9em;
  color: #3f729b; }

#ssba {
  clear: both;
  margin-top: 20px;
  float: left;
  width: 100%; }
  #ssba a img {
    width: 40px;
    height: auto;
    margin-right: 10px; }

a.ssba_tooptip {
  outline: none;
  text-decoration: none !important;
  color: inherit !important; }

a.ssba_tooptip strong {
  line-height: 12px; }

a.ssba_tooptip:hover {
  text-decoration: none;
  color: inherit !important; }

a.ssba_tooptip span {
  z-index: 10;
  display: none;
  padding: 10px;
  margin-top: -30px;
  margin-left: 28px;
  line-height: 16px; }

a.ssba_tooptip:hover span {
  font-family: arial;
  font-size: 12px;
  display: inline;
  position: absolute;
  color: #555e58;
  border: 1px solid #e0dddd;
  background: #f5f5f5; }

.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px; }

a.ssba_tooptip span {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -o-border-radius: 4px; }

.cycle-slideshow img {
  display: none;
  position: absolute;
  top: 0;
  max-width: 100%;
  height: auto; }
.cycle-slideshow .cycle-pager {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  z-index: 150; }
  .cycle-slideshow .cycle-pager span {
    cursor: pointer;
    background: #FFFFFF;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 6px;
    text-indent: -9999em;
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px #80833B; }
    .cycle-slideshow .cycle-pager span.cycle-pager-active {
      background: #80833B;
      box-shadow: inset 0px 0px 5px #555; }

.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none; }
    .nivoSlider img.nivo-main-image {
      display: block !important;
      position: relative !important;
      width: 100% !important; }
  .nivoSlider .nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0; }
  .nivoSlider .nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden; }

.nivo-controlNav {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  z-index: 100; }
  .nivo-controlNav a {
    cursor: pointer;
    background: #FFFFFF;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 6px;
    text-indent: -9999em;
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px #80833B; }
    .nivo-controlNav a.active {
      background: #80833B;
      box-shadow: inset 0px 0px 5px #555; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url(images/colorbox/overlay.png) repeat 0 0; }

#colorbox {
  outline: 0;
  margin-bottom: 12px; }

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(images/colorbox/controls.png) no-repeat -101px 0; }

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(images/colorbox/controls.png) no-repeat -130px 0; }

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(images/colorbox/controls.png) no-repeat -101px -29px; }

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(images/colorbox/controls.png) no-repeat -130px -29px; }

#cboxMiddleLeft {
  width: 21px;
  background: url(images/colorbox/controls.png) left top repeat-y; }

#cboxMiddleRight {
  width: 21px;
  background: url(images/colorbox/controls.png) right top repeat-y; }

#cboxTopCenter {
  height: 21px;
  background: url(images/colorbox/border.png) 0 0 repeat-x; }

#cboxBottomCenter {
  height: 21px;
  background: url(images/colorbox/border.png) 0 -29px repeat-x; }

#cboxContent {
  background: #fff;
  overflow: hidden; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 28px; }

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

#cboxLoadingOverlay {
  background: url(images/colorbox/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic {
  background: url(images/colorbox/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(images/colorbox/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxPrevious:hover {
  background-position: -75px -25px; }

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(images/colorbox/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxNext:hover {
  background-position: -50px -25px; }

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(images/colorbox/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

@media all and (max-width: 1200px) {
  body.home #body #body-header #slider-wrapper,
  body.home #body section.map iframe {
    width: 100%; }

  body.home #body .map {
    text-align: left; }

  body.home #body .map img {
    position: relative;
    left: 50%;
    margin-left: -600px; } }
@media all and (max-width: 960px) {
  iframe {
    width: 100%; }

  .page-width {
    width: 100%; }

  header.main .top .left div {
    margin-left: 15px;
    padding-left: 15px;
    font-size: 22px; }

  header.main .bottom nav ul li:last-child a {
    padding-top: 2px; }

  body.home #body #body-header .page-width .left {
    width: 60%; }

  body.home #body #body-header .page-width .right {
    width: 38%; }

  body.home #body #body-header .page-width .events-roll .event .date {
    width: 20%; }

  body.home #body #body-header .page-width .events-roll .event .title {
    width: 78%; }

  body.home #body .things-to-do .inner .four-column {
    width: 23.5%;
    margin-right: 2%; }

  #body #content {
    width: 68%; }

  #body #sidebar {
    width: 30%; }

  footer .column-seven {
    width: 25%;
    margin-bottom: 20px; }

  footer .cc-credit {
    float: left;
    margin: 10px; }

  footer .tripadvisor-credit {
    margin: 10px; }

  .pgmm .canvas {
    width: 100% !important; } }
@media all and (max-width: 880px) {
  header.main .bottom nav ul li a {
    line-height: 24px;
    display: block;
    height: 50px;
    padding-top: 12px; } }
@media all and (max-width: 768px) {
  body.home #body .things-to-do .inner .four-column {
    width: 23.66%; }
    body.home #body .things-to-do .inner .four-column:last-child {
      margin-right: 0; }

  header.main .bottom ul#menu-primary {
    text-align: center; }
    header.main .bottom ul#menu-primary li {
      float: none;
      display: inline; }
      header.main .bottom ul#menu-primary li a {
        display: inline;
        padding: 0 12px;
        line-height: 50px; } }
@media all and (max-width: 720px) {
  header.main {
    position: relative;
    z-index: 400; }

  header.main .top .left a {
    background-size: 960px 960px;
    width: 98px;
    height: 33px; }
  header.main .top .left div {
    font-size: 16px;
    line-height: 18px;
    height: 40px;
    padding-top: 0; }

  header.main .top .right {
    width: 100%; }
    header.main .top .right nav ul#menu-secondary {
      padding-top: 10px;
      text-align: center; }
      header.main .top .right nav ul#menu-secondary li {
        display: inline-block;
        float: none;
        margin: 0; }
        header.main .top .right nav ul#menu-secondary li a {
          line-height: 40px;
          padding: 0 5px; }

  header .bottom .page-width {
    overflow: visible; }
    header .bottom .page-width nav.menu-primary-container {
      position: relative;
      margin: 5px 0;
      width: 100%;
      height: 40px; }
      header .bottom .page-width nav.menu-primary-container:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 40px;
        height: 8px;
        background: black;
        box-shadow: 0 12px 0 0 black,  0 24px 0 0 black; }
      header .bottom .page-width nav.menu-primary-container:hover ul {
        display: block; }
      header .bottom .page-width nav.menu-primary-container ul#menu-primary {
        width: 100%;
        position: absolute;
        top: 40px;
        z-index: 500;
        display: none;
        background: black url("images/texture.png") repeat;
        border: 10px solid black; }
        header .bottom .page-width nav.menu-primary-container ul#menu-primary li {
          display: block;
          text-align: left; }
          header .bottom .page-width nav.menu-primary-container ul#menu-primary li a {
            color: #fcf6e7;
            font-size: 24px; }

  body.home #body #body-header .page-width .left,
  body.home #body #body-header .page-width .right {
    width: 100%; }

  body.home #body .things-to-do .inner .four-column,
  body.home #body .things-to-do .inner .four-column.last {
    width: 48%;
    margin: 1%; }

  body.home #body .map .texture .page-width .left {
    width: 98%;
    height: 92%;
    float: none;
    margin: 2% auto; }

  div.si_item {
    width: 25%; }

  footer .column-seven {
    width: 50%; }

  footer .cc-credit .tourism-hhs,
  footer .cc-credit .tourism-tbc {
    margin: 10px; }

  #body #sidebar {
    width: 100%;
    padding: 20px 10px;
    background: #171717; }
    #body #sidebar a {
      color: white; }

  #body #content {
    width: 100%;
    padding: 20px 0; }

  #body #content .left,
  #body #content .right {
    width: 100%; } }
